<div class="panel panel-primary">
<div class="panel-heading">Time range</div>

<div class="panel-body">
<table *ngIf="componentValid">
<tr>
	<td class="label-col"><span >Start</span ></td>
    <td class="select-col"><div class="btn-group">
        <label class="btn btn-default" [(ngModel)]="timeStartRadioModel" (ngModelChange)="startAbsolute=0;startAbsoluteChange.emit(startAbsolute);startRelativeChange.emit(undefined);" btnRadio="Absolute">Absolute</label>
		<label class="btn btn-default" [(ngModel)]="timeStartRadioModel" (ngModelChange)="startRelative={unit:'hours'};startRelativeChange.emit(startRelative);startAbsoluteChange.emit(undefined);" btnRadio="Relative">Relative</label>
	 </div></td>

	<td class="picker-col">
	<div *ngIf="timeStartRadioModel==='Absolute'">
		<kairos-datepicker [dateModel]="'2016-01-02'"></kairos-datepicker>
		<kairos-timepicker [timeModel]="'00:00'"></kairos-timepicker>
	</div>
	<div *ngIf="timeStartRadioModel==='Relative'" class="input-group">
        <kairos-relativepicker [model]="startRelative" (modelChange)="startRelativeChange.emit($event);"></kairos-relativepicker>
    </div><!-- /input-group -->
</td>
	<td class="timezone-col" rowspan="2">
		<!--<ng-select [allowClear]="true"
              [items]="items"
              placeholder="Default Time Zone">
  		</ng-select>-->
		<div class="form-group has-feedback">
		<input [(ngModel)]="selected"
         [typeahead]="items"
		 [typeaheadOptionsLimit]="10"
         [typeaheadMinLength]="0"
         (typeaheadOnSelect)="typeaheadOnSelect($event)"
		 placeholder="Default time zone"
         class="form-control">
		 <i class="glyphicon glyphicon-menu-down form-control-feedback"></i>
		</div>
	  </td>
</tr>

<tr>
	<td class="label-col"><span >Stop</span ></td>
    <td class="select-col"><div class="btn-group">
        <label class="btn btn-default" [(ngModel)]="timeStopRadioModel" btnRadio="Absolute" uncheckable>Absolute</label>
		<label class="btn btn-default" [(ngModel)]="timeStopRadioModel" btnRadio="Relative" uncheckable>Relative</label>
	 </div></td>

	<td class="picker-col">
	<div *ngIf="timeStopRadioModel==='Absolute'">
		<kairos-datepicker [dateModel]="'2016-01-02'"></kairos-datepicker>
		<kairos-timepicker [timeModel]="'00:00'"></kairos-timepicker>
	</div>
	<div *ngIf="timeStopRadioModel==='Relative'" class="input-group">
      	<kairos-relativepicker></kairos-relativepicker>
    </div><!-- /input-group -->
	</td>
</tr>

</table>

<div *ngIf="!componentValid" class="alert alert-danger" role="alert" (click)="fixInvalid()">Invalid time range in Query Json. Click here to fix!</div>

</div>
</div>